*~$
.last-package-update-day
.mc-lists.el
.recentf
.smex-items
ac-comphist.dat
auto-save-list/
backups
bookmarks
cider-history
data/
elpa/
emojis/
games/
ido.last
places
projectile-bookmarks.eld
projectile.cache
tramp
url/
